body {
    display: block;
    margin: 0;
    font-family: sans-serif; 
}
a {
    text-decoration: none;

}

header {
    margin: 0 13.5vw;
    font-size: 20px;
    text-decoration: none;
}

#header-top {
    margin: 4% 1.5% 0;
}

#header-mid {
    margin: 1.5% 1.5% 0;
}

#header-bot {
    margin: 1.5% 1.5% 4% 1.5%;
    text-align: right;
}

.img-parent {
    width: 80%;
    margin: 20px 10vw 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container {
    padding: 5px 0;
    height: 175px;
    width: 285px; 
    line-height: 175px;
    display: flex;
    justify-content: center;
}
